@import materialcolors

body
  article
    section:nth-child(1)
      background-color $indigo-500
    section:nth-child(2)
      background-color #ff9d1c
    section:nth-child(3)
      background-color #fefe09
    section:nth-child(4)
      background-color #099afe
    section:nth-child(5)
      background-color #cd5fdb
    section:nth-child(6)
      background-color #0ab20a
    section:nth-child(7)
      background-color $lightBlue-a200
    section:nth-child(8)
      background-color $blue-a200
    section:nth-child(9)
      background-color $purple-a200
    section:nth-child(10)
      background-color $deepPurple-a200
