
@media (max-width: 1200px)
	gallery-image-size = 120px

	#images
		#upload
			width 80%
			text-align center
			margin 0 auto
			float none

		ul
			height gallery-image-size
			width 100%
			margin 2em 0 0

			img
				height gallery-image-size
				width gallery-image-size

	#technical
		> div
			width 80%
			text-align center
			float none
			margin 0 auto

		#feature_sheet
			padding 2em 0 0

		table
			width 100%
			float none