$max-page-width = 900px

$white = #fefefe
$black = #010101

$header-bg-color = rgba(0,0,0,0.6)

$about-text-color = $white

$video-text-color = $black

$contact-text-color = $black

$program-text-color = $black

$footer-text-color = $black

$link-color = $white

$headerScrolledHeight = 50px
$headerUnscrolledHeight = 90px
