extends ../layout.jade

mixin gallery(pics)
  section.gallery
    ul
      each pic in pics
        li
          span(class=pic)

block content

  include ../sections/home

  include ../sections/social

  include ../sections/description

  +gallery(['girafe', 'oneup', 'heart'])

  include ../sections/new

  +gallery(['shadows-2', 'goggles', 'shadows'])

  include ../sections/features

  +gallery(['invader', 'mario', 'nyan'])

  include ../sections/program

  +gallery(['shadows', 'goggles', 'shadows-2'])

  include ../sections/contact

  +gallery(['circles', 'smiley', 'shadows'])
