div.container
	img#logo(src="img/logo.png", alt="magicshifter")

	div.desc
		h1
			span MagicShifter
			span -
			span the Open Source Magic Lamp!

		p It's an open source hardware gadget for lighting, gaming, and POV applications.
		p Charge and reprogram it over USB!
		p
			| Get one of the limited first batch for 
			span.bold 99,90 EUR
	
	div.shop
		a(href="http://www.hackerspaceshop.com/magicshifter-pro.html", target="hackerspaceshop")
			span Get it now @
			span: img(src="img/hackerspaceshop.png", alt="hackerspaceshop.com")
