footer.main
  div.container#imprint
    | created by
    a.textflow(
      href='https://metalab.at/wiki/Benutzer:Wizard23'
      target='wizard23'
    ) wizard23
    |  @
    a(href='http://www.metalab.at' target='metalab')
      img(src='./img/metalab.png' alt='Metalab')

  div#aws
    span supported by
    a(href='http://www.awsg.at/kreativwirtschaft' target='aws')
      img(src='./img/aws-logo.jpg')
