section#about
  div.container
    div.logo-container
      img.logo.about(src='./img/logo-about.svg')
      img.font(src='./img/ms3000-font.svg')

      div.this-fall arriving this summer!

    div.about-text
      h1 MS 3000

      p.
        The MagicShifter 3000 is an open source hardware gadget for lighting, gaming, and persistence of vision applications.

      p.
        Control it via WiFi or USB, from your mobile phone and computer, or use it as a standalone magic lamp.

      p.
        Paint images into thin air and spread the <3, the battery power of the MagicShifter guarantees that your arm will be tired before the lights go off.

      p.
        Use the webinterface to upload, paint and share your images, connect with other users to get their art or change the settings.

    div.available * available in a solarsystem near you.
