section#home
  div.container
    div.logo-container
      img.logo.about(src='./img/logo-about.svg')
      img.font(src='./img/ms3000-font.svg')

    div
      h1 MagicShifter 3000

      h2 The WiFi enabled Open Source Magic Lamp!

      div.shop
        a(href="http://www.hackerspaceshop.com/magicshifter.html" target="hackerspaceshop")
          span Buy your own for just 69€ at the
          span: img(src="./img/hackerspaceshop.png" alt="hackerspaceshop.com")
