section#about
  div.container
    div.logo-container
      img.logo.about(src='/img/logo-about.svg')
      img.font(src='/img/ms3000-font.svg')

      div.this-fall <a href="http://www.hackerspaceshop.com/magicshifter/magicshifter-3000.html">availabe in the shop NOW!!!</a>

    div.about-text
      h1 MagicShifter 3000

      h2 The Open Source Magic Lamp with WiFi!


      p.
        The MagicShifter 3000 is an open source hardware gadget for RGB lighting, gaming and POV (persistence of vision) applications. By combining its accelerometer with 16 bright RGB LEDs you can draw images “into the air”. It’s only 10cm long so it fits in every pocket.  

      h2 WHAT’S NEW

      p.
        CONTROL it  via WiFi, from your mobile phone and computer, or use it as a standalone magic lamp to create amazing shadow and lighting effects. The POV images are created by simply shaking the device. In contrast to other POV gadgets, the image is stabilized with the accelerometer data and displays the image in both directions. 

      p.
        Use the NEW WEB INTERFACE (hosted on the device itself) to upload, paint and share your images, connect with other users to get their art or change the settings. Although it’s an IoT (internet of things) gadget all it’s functions can be accessed offline as well.

      p.
        ab hier in tab vor video (video weg)

      p.
        The integrated LiPo battery can be charged via USB and provides hours of connected lighting fun.

      p.
        The firmware is open source and based on the Arduino project so you can easily reprogram and test your own ideas. If anything goes wrong you can always reflash our official firmware. 

      p.
        Magicshifter 3000 has a very robust hardware design. You can not damage the electronics by incorrect user code. All pins are protected against short circuit conditions that could be generated in software. Let the experiments start!



    div.available * <a href="http://www.hackerspaceshop.com/magicshifter/magicshifter-3000.html">availabe in the shop NOW!!!</a>
