section#contact
  div.container
    h2 Questions? Just contact us!
    p
      | If you have questions or suggestions just contact us via&nbsp;
      a(href="mailto:philipp@magicshifter.net") email
      | .
