section#new
  div.container
    div.area
      h2 WHAT’S NEW

      p.
        Control it via WiFi, from your mobile phone and computer,
        or use it as a standalone magic lamp to create amazing shadow and lighting effects.
        The POV images are created by simply shaking the device.
        In contrast to other POV gadgets,
        the image is stabilized with the accelerometer data
        and displays the image in both directions.

      p.
        Use the NEW WEB INTERFACE (hosted on the device itself)
        to upload, paint and share your images,
        connect with other users to get their art or change the settings.
        Although it’s an IoT (internet of things) gadget
        all the functionality stays available when you are offline as well.

      p.
        The integrated LiPo battery can be charged via USB
        and provides hours of connected lighting fun.

      p.
        The firmware is open source and based on the Arduino project
        so you can easily reprogram and test your own ideas.
        If anything goes wrong you can always reflash our official firmware.

      p.
        Magicshifter 3000 has a very robust hardware design.
        You can not damage the electronics by incorrect user code.
        All pins are protected against short circuit conditions that could be generated in software.
        Let the experiments start!

    div.area
      p
        img(src="./img/pictures/01_main.jpg")
        span MagicShifter 3000 PCB next to an assembled MagicShifter 3000
