section#program
  div.container
    h2 Reprogram the Source Code!

    p
      | The MagicShifter firmware, the webinterface, desktop and mobile apps will be released under the Affero GPL free software license.

    p
      | We strongly believe in a world of free (not as in beer) software and hardware and will do our best to guarantee that our products stay free forever.

    p
      | The Affero GPL License basically says that anyone can use what we build for whichever purpose.
      | In exchange the license enforces that all the source code for all the
      | &nbsp;
      a(
        href='https://en.wikipedia.org/wiki/Internet_of_Things'
        title='Internet Of Things'
      ) IOT
      | &nbsp;
      | things based on our work are made public and licensed using a free software license.

    p.centered
      a(href='https://gnu.org/licenses/agpl.html' target='gnutopia')
        img(src='./img/agplv3.png' alt='Affero GPL')
