section#timeline
  div.container
    h2 Timeline
    p 
      a(href="./img/pictures/ms3000-timeline-web-lg.jpg" target="_blank")
        img(src="./img/pictures/ms3000-timeline-web-sm.jpg")
      span 
        | Earlier MagicShifter prototypes. 
        a(href="./img/pictures/ms3000-timeline-web-lg.jpg" target="_blank") 
          | Click to see a high-resolution version.
      
