section#about
  div.container
    img.logo.about(src=img_dir + 'logo-about.png')

    h1
      span MagicShifter 3000

    p.
      The MagicShifter 3000 is an open source hardware gadget for RGB lighting, gaming, and persistence of vision applications.

    p.
      Control it via WiFi from your mobile phone or computer or use it as a standalone digital magic lamp.
