section#contact
  div.container
    h2 Questions? Just contact us!
    p
      | If you have questions or suggestions just contact us via
      a.textflow(href="mailto:wizards23+magicshifter@gmail.com") email.

    p
      | Found a bug on this homepage?
      a.textflow(href="https://github.com/magicshifter/magicshifter.net" target="utopia") file an issue on github.
