section#video
  div.container
    h2 The MagicShifter Video!

    div#player: iframe(src="https://www.youtube.com/embed/0MjIy2lzaDo" frameborder="0" allowfullscreen="allowfullscreen")

    p Watch this video to learn more about the features and sensors and how to use the MagicShifter.
