section#contact
  div.container
    h2 Questions? Just contact us!
    p
      | If you have questions or suggestions just contact us via&nbsp;
      a(href='mailto:philipp@magicshifter.net') email!

    p
      | If you are looking for information about the MagicShifter V1 just 
      a(href=`${WEB_ROOT}v1`) click here!
