section#contact
  div.container
    h2 Questions? Just contact us!
    p
      | If you have questions or suggestions just contact us via&nbsp;
      a(href='mailto:philipp@magicshifter.net') email!

    p
      | If you are looking for the user manual of the MagicShifter V1 just 
      a(href=`https://docs.google.com/document/d/1_cqh2J4C_Npqz5KXsosdRo691K8Sucw97ZeopUi3K8k/edit`) click here!
