section#features
  div.container
    h2 Features

    ul.hardware.list
      lh
        h3 Hardware

      li
        span.image
        | Fully assembled and tested PCB 99x24mm

      li
        span.image
        | ESP8266 32-Bit/80MHz Microcontroller with integrated WiFi

      li
        span.image
        | 16 bright RGB LEDs

      li
        span.image
        | 3-Axis Accelerometer

      li
        span.image
        | 3-Axis Magnetometer/Compass

      li
        span.image
        | 4MB Flash Memory

      li
        span.image
        | 400mAh LiPo rechargeable via USB

      li
        span.image
        | 3x Buttons

      li
        span.image
        | programmable via USB Serial and WiFi Interface

      li
        span.image
        | 3D printed case 103x27x13mm

      li
        span.image
        | CC BY-NC licensed hardware design

    img.split.block(src=`${WEB_ROOT}img/features/ms3000-top-small.gif`)
    img.split.block(src=`${WEB_ROOT}img/features/ms3000-bottom-small.gif`)

    ul.software.list
      lh
        h3 Software

      li
        span.image
        | Robust platform architecture using best practices.

      li
        span.image
        | Write your own apps in JavaScript!

      li
        span.image
        | Simple but powerful Apps that keep working if you are offline.

      li
        span.image
        | Apps for mobile devices, desktop and browsers.

      li
        span.image
        | AGPL licensed firmware & web frontend

    div.annotated-image.split
      img.split(src=`${WEB_ROOT}img/features/web-ui.jpg`)
      span Draw images in the web interface

    div.annotated-image.split
      img.split(src=`${WEB_ROOT}img/features/cute-heart.jpg`)
      span Then show them to your friends :)
