section#hero
  div.container.bubble
    div.logo-container
      img.logo.about(src=`${WEB_ROOT}img/hero/logo.svg`)
      img.font(src=`${WEB_ROOT}img/hero/font.png`)

    div.hero-text
      h2 The WiFi enabled Open Source Magic Lamp!

      div.shop
        a(href='http://hackerspaceshop.com/products/magicshifter3000' target='hackerspaceshop')
          h2 Buy your own for just 69€ at the
          p: img(src=`${WEB_ROOT}img/hero/hackerspaceshop.png` alt='hackerspaceshop.com')
