section#program
  div.container

    h2
      a(href="https://github.com/magicshifter/MS3000/wiki/UserManual") UserManual

    h2 How to update the Firmware?
    p
      | If you bought a MagicShifter 3000 with an old firmware and want to update to the latest firmware have a look at
      | &nbsp;
      a(href='https://github.com/magicshifter/MS3000/wiki/FirmwareUpdate') the firmware update instructions 
      | &nbsp;
      | in the wiki.

    h2 Documentation and Source Code!
    p
      | We released the firmware and the web interface for the MagicShifter 3000 under the AGPL license. So you are free to look at the source code and change whatever you like.

    p
      | We host the code and project documentation on github:
      | &nbsp;
      a(href='https://github.com/magicshifter/MS3000') https://github.com/magicshifter/MS3000
      | &nbsp;

    h2 Why the AGPL?
    p
      | The Affero GPL License basically says that anyone can use what we build for any purpose.
      | In exchange the license enforces that all the source code for all the
      | &nbsp;
      a(
        href='https://en.wikipedia.org/wiki/Internet_of_Things'
        title='Internet Of Things'
      ) IoT
      | &nbsp;
      | things based on our work are made public and licensed using a free software license.

    p.centered
      a(href='https://gnu.org/licenses/agpl.html' target='gnutopia')
        img(src=`${WEB_ROOT}img/program/agplv3.png` alt='Affero GPL')
