extends ../../layout.jade

mixin gallery(pics)
  section.gallery
    ul
      each pic in pics
        li
          span(class=pic)

block content

  h1 coming soon.

  +gallery(['girafe', 'oneup', 'heart'])

  include ../../sections/contact

  +gallery(['circles', 'smiley', 'shadows'])
