@media (max-width: 400px)
  #images ul li
    width 45%
    margin 1%

  header.main
    text-align center

    img#logo,
    div.social
      float none
      width 100%
      margin 0

    img#logo
      max-width 60%

  table
    font-size 0.8em

  footer.main #aws a img
    display block
    margin 0 auto
