@import variables

@media (min-width: 600px)
  header.main
    font-size 1em

  #social
    ul
      li
        margin 0 .5em
        width auto
        height auto

@media (min-width: 550px)
  header.main
    font-size 1.1em

@media (min-width: 500px)
  header.main
    .menu-toggle
      display none

    nav.main
      background-color transparent
      clear none
      float right
      font-size 1em
      padding .2em 0
      position relative
      right auto
      top auto
      width auto

      &.show
        right 0

      ul
        display inline-block
        padding 0 .5em
        text-align center

        li
          float left
          margin 0 .2em

  table
    font-size 1em

  footer.main #aws a img
    display inline

  section.gallery
    ul
      li
        height 120px
        width 120px

        span

          &.invader
            background-position 0 0
          &.smiley
            background-position -120px 0
          &.shadows
            background-position -240px 0
          &.cursor
            background-position -360px 0
          &.nyan
            background-position -480px 0
          &.mario
            background-position -600px 0
          &.heart
            background-position -720px 0
          &.girafe
            background-position -840px 0
          &.bubblebobble
            background-position -960px 0
          &.circles
            background-position -1080px 0
          &.ccc29
            background-position -1200px 0
          &.oneup
            background-position -1320px 0
          &.goggles
            background-position -1440px 0
          &.shadows-2
            background-position -1560px 0
          &.bike
            background-position -1680px 0
