header-bg-color = rgba(0,0,0,0.5)

social-bg-color = #ffff00

about-bg-color = #ff9d1c

video-bg-color = #cc5adb

upload-bg-color = #0097ff

contact-bg-color = #ffff00

program-bg-color = #cc5adb

technical-bg-color = #01b001

footer-bg-color = #fff

btn-bg-color = #004270
btn-bg-color-hover = #002d4c
btn-bg-color-darken = 30%

text-color = #333
link-color = #fff

gallery-bg-color-first = #ffff00
gallery-bg-color-second = #ff9d1c
gallery-bg-color-third = #0097ff
gallery-bg-color-fourth = #ff9d1c

bg-image(image)
  background-image: url(img_dir + image)

box-shadow(value)
  -webkit-box-shadow value
  -moz-box-shadow value
  box-shadow value

background-gradient (color, color-dark)
  background-image -webkit-gradient( linear, 0 0, 0 100%,from( color ), to( color-dark ) )
  background-image -webkit-linear-gradient( top, color, color-dark )
  background-image -o-linear-gradient( top, color, color-dark )
  background-image -moz-linear-gradient( top, color, color-dark )
  background-image linear-gradient( top, color, color-dark )


*
  box-sizing border-box

body
  font-size 16px
  font-family Segoe Ui, Lucida Grande, Ubuntu, Arial, sans-serif
  color #333

section
  clear both
  padding 2em 10%
  margin -5px 0 0

  h2
    font-size 1.5em
    padding 0 0 0.7em
    text-align center

img,
a
  max-width 100%

a, a:visited
  text-decoration none
  color link-color

  &:hover
    color #000

a.btn
  font-weight bold
  padding 6px 12px
  font-size 0.9em
  color link-color
  margin 0 1.5em 0 0
  color #fff
  text-shadow 0 -1px 0 rgba(0,0,0,0.25)
  background-color btn-bg-color
  background-gradient( btn-bg-color darken( btn-bg-color, btn-bg-color-darken ) )
  background-repeat repeat-x
  border-radius 4px
  display inline-block
  text-align center
  vertical-align middle
  cursor pointer
  border 1px solid #bbb
  border-color rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
  box-shadow inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)

  &:hover
    background-position

p
  margin 0 0 0.5em

  &.btns
    padding 1em 0 0

header.main
  background-size cover
  bg-image('header-background.png')
  color #fff
  font-size 1.1em
  line-height 1.1em
  width 100%
  height 82px
  padding .5em 0 0 .5em

  nav
    float right
    min-width 50%
    margin 1.2em 0 0

    ul li
      float left
      margin 0 .2em

  a
    &.textflow
      margin 0 .3em 0

    &:hover
      color #fff
      text-decoration underline

  img#logo
    height 70px

#social
  background-color social-bg-color
  text-align center

  ul
    li
      display inline-block
      margin 0 0.5em

      a
        display inline
        float none
      &:hover
        opacity 0.8

#about
  background-color about-bg-color
  color #fff
  text-align center

  h1
    font-size 1.5em
    margin 0 0 1em

#video
  background-color video-bg-color
  text-align center

  #player
    height 0px
    overflow hidden
    padding-bottom 56.25%
    padding-top 30px
    position relative

    iframe
      height 100%
      left 0px
      position absolute
      top 0px
      width 100%

  p
    margin 1em 0 0

#upload
  background-color upload-bg-color

  #images
    margin 0 auto
    text-align center
    width 80%

  .btn
    background-color darken(upload-bg-color, 40%)

  a
    color #ffff00

    &.btn
      color #fff

.gallery
  ul
    display inline-block
    margin 0 auto
    text-align center
    width 100%

    li
      display inline-block
      margin 0 1%
      width 18%

    img
      border-radius 100%
      height 100%
      max-height 100%
      max-width 100%
      width 100%

  &.first
    background-color gallery-bg-color-first
  &.second
    background-color gallery-bg-color-second
  &.third
    background-color gallery-bg-color-third
  &.fourth
    background-color gallery-bg-color-fourth

#program
  background-color program-bg-color
  text-align center

  .btn
    background-color program-bg-color
    background-gradient( program-bg-color, darken( program-bg-color, btn-bg-color-darken ) )

#technical
  background-color technical-bg-color
  color #000

  table
    border 1px solid darken(technical-bg-color, 35%)
    text-align left
    width 100%

    thead tr
      background-color darken(technical-bg-color, 25%)

    tr
      line-height 1.5

    td, th
      border 1px solid darken(technical-bg-color, 35%)
      padding 0.2em

    a
      color #ffff00

      &:hover
        color darken(technical-bg-color, 80%)

#contact
  background-color contact-bg-color
  text-align center

footer.main
  padding 1.5em 0 .5em
  text-align center

  div
    height 100%
    line-height 3em
    vertical-align top

    a, span
      vertical-align top

    img
      padding 0 0.5em
  #aws img
    height 60px

#contact,
footer.main
  a
    color upload-bg-color

    &:hover
      color #000

    &[target=wizard23]
      margin 0 0 0 .3em
