@import variables

*
  box-sizing border-box

body
  font-size 16px
  font-family Segoe Ui, Lucida Grande, Ubuntu, Arial, sans-serif
  color #333

section
  clear both
  padding 3.5em 10%
  margin -5px 0 0

  &.gallery
    padding 2em 0
    ul
      display inline-block
      margin 0 auto
      text-align center
      width 100%

      li
        display inline-block
        margin 0 1%
        width 25%

      img
        border-radius 100%
        height 100%
        max-height 100%
        max-width 100%
        width 100%

    &.first
      background-color $gallery-bg-color-first
    &.second
      background-color $gallery-bg-color-second
    &.third
      background-color $gallery-bg-color-third
    &.fourth
      background-color $gallery-bg-color-fourth
    &.fifth
      background-color $gallery-bg-color-fifth

  &#social
    padding .5em 5%

  h2
    font-size 1.5em
    padding 0 0 0.7em
    text-align center

img,
a
  max-width 100%
  max-height 100%

a, a:visited
  text-decoration none
  color $link-color

  &:hover
    color #000

  &.textflow
    margin 0 .3em 0

a.btn
  font-weight bold
  padding 6px 12px
  font-size 0.9em
  color $link-color
  margin 0 1.5em .5em 0
  color $white
  text-shadow 0 -1px 0 rgba(0,0,0,0.25)
  background-color $btn-bg-color
  background-gradient( $btn-bg-color darken( $btn-bg-color, $btn-bg-color-darken ) )
  background-repeat repeat-x
  border-radius 4px
  display inline-block
  text-align center
  vertical-align middle
  cursor pointer
  border 1px solid #bbb
  border-color rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
  box-shadow inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05)

  &:hover
    background-position

p
  margin 0 0 .5em

  &.btns
    padding 1em 0 0

body
  > article
    section
      .container
        max-width $max-page-width
        margin 0 auto

  &.js
    header.main
      transition padding .2s

      &.big
        #logo
          img
            transition height .4s

      #logo
        img
          transition height .2s

      .wrapper
        transition background-color .2s, height .2s

      nav
        transition margin .2s, top .2s, right .2s


header.main
  background-size cover
  bg-image('header-background.png')
  color $white
  font-size 1.1em
  height 82px
  line-height 1.1em
  width 100%

  .menu-toggle
    display none
    float right
    margin .5em 0
    width 50px

    span
      background-color $white
      border-radius 5px
      display block
      height 5px
      margin 5px 0
      width 100%

  &.small
    .wrapper
      padding .2em .5em 0
      height 36px

    #logo img
      height 30px

    nav
      margin .2em 0 0

    .menu-toggle
      width 40px
      span
        height 3px
        margin 3px 0


  .wrapper
    width 100%
    z-index 1
    position fixed
    background-color $header-bg-color
    height 77px
    padding .6em .5em 0

    .container
      max-width $max-page-width
      margin 0 auto

  nav
    float right
    margin 1.2em 0 0

    ul li
      float left
      margin 0 .2em

  a
    &:hover
      color $white
      text-decoration underline

  a#logo
    float left

    img
      height 60px

#social
  background-color $social-bg-color
  text-align center

  ul
    li
      display inline-block
      margin 0 .5em

      a
        display inline
        float none
      &:hover
        opacity .8

#about
  background-color $about-bg-color
  color $about-text-color
  text-align center

  h1
    font-size 1.5em
    margin 0 0 1em

#video
  background-color $video-bg-color
  color $video-text-color
  text-align center

  #player
    height 0px
    overflow hidden
    padding-bottom 56.25%
    padding-top 30px
    position relative

    iframe
      height 100%
      left 0px
      position absolute
      top 0px
      width 100%

  p
    margin 1em 0 0

#upload
  background-color $upload-bg-color
  color $upload-text-color

  #images
    margin 0 auto
    text-align center
    width 80%

  .btn
    background-color darken($upload-bg-color, 40%)

  a
    color $yellow

    &.btn
      color $white

#program
  background-color $program-bg-color
  color $program-text-color
  text-align center

  .btn
    background-color $program-bg-color
    background-gradient( $program-bg-color, darken( $program-bg-color, $btn-bg-color-darken ) )

#technical
  background-color $technical-bg-color
  color $technical-text-color

  table
    border 1px solid darken($technical-bg-color, 35%)
    text-align left
    width 100%

    thead tr
      background-color darken($technical-bg-color, 25%)

    tr
      line-height 1.5

    td, th
      border 1px solid darken($technical-bg-color, 35%)
      padding .2em

    a
      color $yellow

      &:hover
        color darken($technical-bg-color, 80%)

#contact
  background-color $contact-bg-color
  color $contact-text-color
  text-align center

footer.main
  background-color $footer-bg-color
  color $footer-text-color
  padding 1.5em 0 .5em
  text-align center

  div
    height 100%
    line-height 3em
    vertical-align top

    a, span
      vertical-align top

    img
      padding 0 .5em
  #aws img
    height 60px

#contact,
footer.main
  a
    color $upload-bg-color

    &:hover
      color #000

    &[target=wizard23]
      margin 0 0 0 .3em

section.gallery
  ul
    li
      height 120px
      width 120px

      span
        background-size cover
        bg-image('magic-icons.jpg')
        border-radius 100%
        height 100%
        width 100%
        margin 0 auto
        display block

        &.invader
          background-position 0 0
        &.smiley
          background-position -120px 0
        &.shadows
          background-position -240px 0
        &.cursor
          background-position -360px 0
        &.nyan
          background-position -480px 0
        &.mario
          background-position -600px 0
        &.heart
          background-position -720px 0
        &.girafe
          background-position -840px 0
        &.bubblebobble
          background-position -960px 0
        &.circles
          background-position -1080px 0
        &.ccc29
          background-position -1200px 0
        &.oneup
          background-position -1320px 0
        &.goggles
          background-position -1440px 0
        &.shadows-2
          background-position -1560px 0
        &.bike
          background-position -1680px 0
