$max-page-width = 900px

$orange = #ff9d1c
$blue = #0097ff
$green = #01b001
$purple = #cc5adb
$yellow = #ffff00
$white = #fff

$header-bg-color = rgba(0,0,0,0.6)

$social-bg-color = $yellow

$about-bg-color = $orange

$video-bg-color = $purple

$upload-bg-color = blue

$contact-bg-color = $yellow

$program-bg-color = $purple

$technical-bg-color = $green

$footer-bg-color = $white

$btn-bg-color = #004270
$btn-bg-color-hover = #002d4c
$btn-bg-color-darken = 30%

$text-color = #333
$link-color = $white

$gallery-bg-color-first = $yellow
$gallery-bg-color-second = $orange
$gallery-bg-color-third = $blue
$gallery-bg-color-fourth = $orange
$gallery-bg-color-fifth = $blue

bg-image(image)
  background-image: url(img_dir + image)

box-shadow(value)
  -webkit-box-shadow value
  -moz-box-shadow value
  box-shadow value

background-gradient (color, color-dark)
  background-image -webkit-gradient( linear, 0 0, 0 100%,from( color ), to( color-dark ) )
  background-image -webkit-linear-gradient( top, color, color-dark )
  background-image -o-linear-gradient( top, color, color-dark )
  background-image -moz-linear-gradient( top, color, color-dark )
  background-image linear-gradient( top, color, color-dark )
