$max-page-width = 900px

$white = #fefefe
$black = #010101

$header-bg-color = rgba(0, 0, 0, .8)

$hero-text-color = $white
$hero-bg-gradient = linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))

$description-text-color = $black

$contact-text-color = $black
$contact-link-color = #00F

$program-text-color = $black

$update-link-color = $blue-500

$footer-text-color = $black

$shop-link-text-color = #ff0

$link-color = $white

$headerScrolledHeight = 50px
$headerUnscrolledHeight = 90px
