$max-page-width = 900px

$white = #fefefe
$black = #010101
$blue = #0800F7

$header-bg-color = rgba(0,0,0,0.8)

$hero-text-color = $white

$description-text-color = $black

$contact-text-color = $black

$program-text-color = $black

$update-link-color = $blue

$footer-text-color = $black

$link-color = $white

$headerScrolledHeight = 50px
$headerUnscrolledHeight = 90px
