@media (max-width: 600px)
  header.main
    font-size 1em

@media (max-width: 550px)
  header.main
    font-size .9em
    margin .4em 0 0

@media (max-width: 500px)
  header.main
    .menu-toggle
      display block

    &.small
      nav.main
        top 27px

    nav.main
      background-color rgba(0, 0, 0, 0.5)
      clear both
      font-size 1.5em
      padding .5em 0
      position absolute
      right -50%
      top 51px
      border-bottom-left-radius 25px
      width 50%

      &.show
        right 0

      ul
        display inline-block
        padding 0 .5em
        text-align center

        li
          float none
          margin 1.2em

  #social
    ul
      li
        margin 0 .1em

  #images ul li
    width 45%
    margin 1%

  table
    font-size 0.8em

  footer.main #aws a img
    display block
    margin 0 auto


  section.gallery
    ul
      li
        height 80px
        width 80px

        span
          &.invader
            background-position 0 0
          &.smiley
            background-position -80px 0
          &.shadows
            background-position -160px 0
          &.cursor
            background-position -240px 0
          &.nyan
            background-position -320px 0
          &.mario
            background-position -400px 0
          &.heart
            background-position -480px 0
          &.girafe
            background-position -560px 0
          &.bubblebobble
            background-position -640px 0
          &.circles
            background-position -720px 0
          &.ccc29
            background-position -800px 0
          &.oneup
            background-position -880px 0
          &.goggles
            background-position -960px 0
          &.shadows-2
            background-position -1040px 0
          &.bike
            background-position -1680px 0
