section#program
  div.container
    h2 Reprogram the Source Code!
    p The code is a little rough at the edges and atm only the make file based tool chain is available.
    p We're working on integrating the MagicShifter into the Arduino IDE.
    p.btns
      a.btn(href="https://bitbucket.org/wizard23/magicshifteros" target="utopia") Download it!
    p
      a(href="http://www.gnu.org/licenses/quick-guide-gplv3.html" target="gnutopia")
        img(src="/img/v1/gnugpl.png" alt="Gnu GPL")
