section#upload
  div.container#images
    h2 Upload your own images!
    p There is a webapp (runs offline too) to convert your own images to display them on the MagicShifter. You even can create animations if you like.
    p
      | Find more examples in the
      a.textflow(
        href='http://www.flickr.com/photos/wizard23/sets/72157632220498947/detail/'
      ) picture blog
      | on flickr.

    p.btns
      a.btn(href='./bitmap.html') Bitmap Converter
      a.btn(href='./font.html') Font Converter
      a.btn(href='./datasheets/UserManualMagicShifter.pdf') MagicShifter Manual (pdf)
      a.btn(href='https://docs.google.com/document/d/1_cqh2J4C_Npqz5KXsosdRo691K8Sucw97ZeopUi3K8k/', target='gdocs') MagicShifter Manual (google docs)
