@media (min-width: 600px)
  header.main
    font-size 1em

  #hero
    .hero-text
      clear both
      display inline-block
      margin 100px 0 50px

  #social
    ul
      li
        height auto
        margin 0 .5em
        width auto

@media (min-width: 560px)
  header.main
    font-size 1.1em
