@media (min-width: 700px)
  header.main
    .menu-toggle
      display none

    nav
      background-color transparent
      clear none
      float right
      font-size 1em
      margin 0
      padding 0
      position relative
      right auto
      top 45px
      width auto

      &.show
        right 0

      ul
        display inline-block
        padding 0 .5em
        text-align center

        li
          float left
          margin 0 .2em

  table
    font-size 1em

  footer.main > div a img
    display inline

  body.scrolled
    header.main
      nav
        margin 0
        top 20px
