section#about
  div.container
    div.left
      img.logo.about(src='/img/logo-about.png')

      h1
        span MagicShifter 3000

      div.this-fall coming this fall.

    div.right
      p.
        The MagicShifter 3000 is an open source hardware gadget for lighting, gaming, and persistence of vision applications.

      p.
        Control it via WiFi or USB, from your mobile phone and computer, or use it as a standalone magic lamp.

      p.
        Paint images into thin air and spread the <3, the battery power of the MagicShifter guarantees that your arm will be tired before the lights go off.

      p.
        Use the webinterface to upload, paint and share your images, connect with other users to get their art or change the settings.
