section#contact
  div.container
    h2 Questions? Just contact us!
    p
      | If you have questions or suggestions just contact us via&nbsp;
      a(href="mailto:team@magicshifter.net") email
      | .

    p
      | Found a bug on this homepage?&nbsp;
      a(
        href="https://github.com/magicshifter/magicshifter.net"
        target="utopia"
      ) submit an issue
      | .
