section#features
  div.container
    h2 Features

    ul.hardware.list
      lh
        h3 Hardware

      li
        span.image
        | ESP8266 32-Bit/80MHz Microcontroller with integrated WiFi

      li
        span.image
        | 16 bright RGB LEDs for awesome shadow effects

      li
        span.image
        | 3-Axis Accelerometer to stabilize the POV image

      li
        span.image
        | 3-Axis Magnetometer/Compass

      li
        span.image
        | 4MB Flash Memory

      li
        span.image
        | programmable via WiFi and USB

      li
        span.image
        | 3D printed case

      li
        span.image
        | AGPL licensed firmware & web frontend

      li
        span.image
        | CC BY-NC licensed hardware design

    img(src='/img/hardware.gif')

    ul.software.list
      lh
        h3 Software

      li
        span.image
        | Draw and upload new images, text or animations to your MagicShifter, directly from your browser

      li
        span.image
        | Just click a button to share your creations with the world.

      li
        span.image
        | Connect to an existing WiFi or create your own HotSpot hosted by the MagicShifter.

    img.split(src='/img/software-leds.jpg')
    img.split(src='/img/software-settings.jpg')
