section#features
  div.container
    h2 Features

    ul.hardware
      lh
        h3 Hardware

      li
        span.image
        | ESP8266 32-Bit/80MHz Microcontroller with integrated WiFi
      li
        span.image
        | 16 bright RGB LEDs for awesome shadow effects
      li
        span.image
        | 3-Axis Accelerometer to stabilize the POV image
      li
        span.image
        | 3-Axis Magnetometer/Compass
      li
        span.image
        | 4MB Flash Memory
      li
        span.image
        | programmable via WiFi and USB
      li
        span.image
        | 3D printed case
      li
        span.image
        | AGPL licensed firmware & web frontend
      li
        span.image
        | CC BY-NC licensed hardware design
