section#program
  div.container
    h2 Reprogram the Source Code!

    p The MagicShifter firmware, the webinterface, desktop and mobile apps will be released under the affero gpl free software license,

    p
      a(href='https://gnu.org/licenses/agpl.html' target='gnutopia')
        img(src='/img/agplv3.png' alt='Affero GPL')
