-
  menuItems = [
    {href: '#♥', text: 'home'},
    {href: '#about', text: 'about'},
    {href: '#features', text: 'features'},
    {href: '#program', text: 'program'},
    {href: '#contact', text: 'contact'},
  ];

header.main
  div.wrapper
    a#logo(href='#♥')
      img(src='./img/logo.png' alt='magicshifter')

    a.menu-toggle
      span
      span
      span

    if menuItems
      nav.main
        ul
          for item in menuItems
            if item.href && item.text
              li
                a(href=item.href)= item.text
