body
  article
    section:nth-child(1)
      background-color #ff9d1c
    section:nth-child(2)
      background-color #f0ff19
    section:nth-child(3)
      background-color #93ff40
    section:nth-child(4)
      background-color #40ff4d
    section:nth-child(5)
      background-color #40ffac
    section:nth-child(6)
      background-color #40f2ff
    section:nth-child(7)
      background-color #4093ff
    section:nth-child(8)
      background-color #4c40ff
    section:nth-child(9)
      background-color #ac40ff
    section:nth-child(10)
      background-color #ff40f2
    section:nth-child(11)
      background-color #ff4093
    section:nth-child(12)
      background-color #ff4d40
