@import mixins

@import variables

@import reset

global-reset()

@import colorcycle

*
  box-sizing border-box

body
  font-size 16px
  font-family Segoe UI, Lucida Grande, Ubuntu, Arial, sans-serif
  color #333
  line-height 1.1em

section
  clear both
  padding 3.5em 10%
  margin -5px 0 0
  text-align center

  ul.hardware
    margin 0 auto
    text-align left

    li
      .image
        bg-image('list-style-image.png')
        background-size contain
        display inline-block
        margin 0 .2em 0 0
        height .5em
        width .5em
        top -.1em
        position relative

  &.gallery
    padding 2em 0
    ul
      display inline-block
      margin 0 auto
      text-align center
      width 100%

      li
        display inline-block
        margin 0 1%
        width 25%

      img
        border-radius 100%
        height 100%
        max-height 100%
        max-width 100%
        width 100%

  &#social
    padding .5em 5%

  h2
    font-size 1.5em
    padding 0 0 .7em
    text-align center

  h3
    font-size 1.3em
    padding 0 0 .5em
    text-align center

img,
a
  max-width 100%
  max-height 100%

a, a:visited
  text-decoration underline
  color $link-color

  &:hover
    color $link-hover-color
    text-shadow 3px 3px 3px rgba(0, 0, 0, .4)

  &.textflow
    margin 0 .3em 0
p
  margin 0 0 .5em

  &.btns
    padding 1em 0 0

body
  &.js
    header.main
      transition padding .2s

      &.big
        #logo
          img
            transition height .4s

      #logo
        img
          transition height .2s

      .wrapper
        transition background-color .2s, height .2s

      nav
        transition margin .2s, top .2s, right .2s

header.main
  background-size cover
  bg-image('header-background.png')
  color $white
  font-size .9em
  height 82px
  line-height 1.1em
  width 100%

  .menu-toggle
    display block
    float right
    margin .5em 0
    width 50px

    span
      background-color $white
      border-radius 5px
      display block
      height 5px
      margin 5px 0
      width 100%

  &.small
    .wrapper
      padding .2em .5em 0
      height 36px

    #logo img
      height 30px

    nav
      top 36px
      width auto

    .menu-toggle
      width 40px
      span
        height 3px
        margin 3px 0

  .wrapper
    background-color $header-bg-color
    width 100%
    z-index 1
    position fixed
    height 77px
    padding .6em .5em 0

    .container
      max-width $max-page-width
      margin 0 auto

  nav
    clear both
    font-size 1.5em
    padding .5em 0
    position absolute
    right -50%
    top 77px
    border-bottom-left-radius 25px
    width 50%
    background-color $header-bg-color

    &.show
      right 0


    ul
      display inline-block
      padding 0 .5em
      text-align center

      li
        float none
        margin 1.2em

  a
    text-decoration none
    &:hover
      color $white
      text-decoration underline

  a#logo
    float left

    img
      height 60px

#social
  text-align center

  ul
    li
      display inline-block
      height 30px
      margin 0 .1em
      width 30px

      a
        display inline
        float none
      &:hover
        opacity .8

article
  section
    .container
      max-width $max-page-width
      margin 0 auto
      display inline-block


#about
  color $about-text-color
  text-align center

  .logo
    max-width 50%

  h1
    font-size 1.5em
    margin 1em 0 .5em
    line-height 1.3em

  .this-fall
    font-size 1.3em
    margin 0 0 .5em


#video
  color $video-text-color
  text-align center

  #player
    height 0px
    overflow hidden
    padding-bottom 56.25%
    padding-top 30px
    position relative

    iframe
      height 100%
      left 0px
      position absolute
      top 0px
      width 100%

  p
    margin 1em 0 0

#upload
  color $upload-text-color

  #images
    margin 0 auto
    text-align center
    width 80%

  a
    color $yellow

#program
  color $program-text-color
  text-align center

#technical
  color $technical-text-color

  table
    border 1px solid rgba(0, 0, 0, .4)
    text-align left
    width 100%
    font-size .7em

    thead tr
      background-color rgba(0, 0, 0, .4)

    tr
      line-height 1.5

    td, th
      border 1px solid rgba(0, 0, 0, .4)
      padding .2em

#contact
  color $contact-text-color
  text-align center

footer.main
  color $footer-text-color
  padding 1.5em 0 0
  text-align center

  div
    height 100%
    line-height 3em
    vertical-align top

    a, span
      vertical-align top

    img
      padding 0 .5em

  > div
    margin 0 0 2em

    &:last-child
      margin-bottom 0

    img
      display block
      margin 0 auto

  #proudowner
    background-color $black
    color $white
    padding 1em 0
    display inline-block
    width 100%

    p
      line-height 1.5em
      margin .5em 0

section.gallery
  ul
    li
      height 80px
      width 80px

      span
        background-size cover
        bg-image('magic-icons.jpg')
        border-radius 100%
        height 100%
        width 100%
        margin 0 auto
        display block

        &.invader
          background-position 0 0
        &.smiley
          background-position -80px 0
        &.shadows
          background-position -160px 0
        &.cursor
          background-position -240px 0
        &.nyan
          background-position -320px 0
        &.mario
          background-position -400px 0
        &.heart
          background-position -480px 0
        &.girafe
          background-position -560px 0
        &.bubblebobble
          background-position -640px 0
        &.circles
          background-position -720px 0
        &.ccc29
          background-position -800px 0
        &.oneup
          background-position -880px 0
        &.goggles
          background-position -960px 0
        &.shadows-2
          background-position -1040px 0
        &.bike
          background-position -1680px 0


@import custom-widths
