$max-page-width = 900px

$orange = #ff9d1c
$blue = #0097ff
$green = #01b001
$purple = #cc5adb
$yellow = #ffff00
$white = #fefefe
$black = #010101

$header-bg-color = rgba(0,0,0,0.6)

$about-text-color = $white

$video-text-color = $black

$upload-text-color = $white

$contact-text-color = $black

$program-text-color = $black

$technical-text-color = $white

$footer-text-color = $black

$btn-bg-color = #004270
$btn-bg-color-hover = #002d4c
$btn-bg-color-darken = 30%

$text-color = #333
$link-color = $white

$gallery-bg-color-first = $yellow
$gallery-bg-color-second = $orange
$gallery-bg-color-third = $blue
$gallery-bg-color-fourth = $orange
$gallery-bg-color-fifth = $blue
