footer.main
  div.container#imprint
    | created by
    a.textflow(
      href="https://metalab.at/wiki/Benutzer:Wizard23"
      target="wizard23"
    ) wizard23
    |  @
    a(href="http://www.metalab.at" target="metalab")
      img(src=img_dir + "metalab.png" alt="Metalab")

  div#aws
    span supported by
    a(href="http://www.awsg.at/kreativwirtschaft" target="aws")
      img(src=img_dir + "aws-logo.jpg")

  div#proudowner
    div.container
      p.
        “Any sufficiently advanced
        technology is indistinguishable
        from a MagicShifter!”

      p Arthur C. Clarke, proud owner
