header.main
  div.wrapper
    div.container
      a#logo(href="/")
        img(src=img_dir + "logo.png" alt="magicshifter")

      a.menu-toggle
        span
        span
        span

      if menu_items
        nav.main

          ul
            for item in menu_items
              if item.href && item.text
                li
                  a(href=item.href)= item.text
