doctype html
html(lang="en")
	head 
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="icon" type="image/gif" href=root_dir + "favicon.gif")
		title Magicshifter the Open Source Magic Lamp!
		meta(name="description" content="MagicShifter - the Open Source Digital Magic Lamp! for Lighting, Gaming, and POV Applications.")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href=static_dir + "css/main.css")

	body
		include header
		block content 
			div no content

		script(src=static_dir + "js/ga.js")