doctype html
html(lang="en")
	head 
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Magicshifter the Open Source Magic Lamp!
		meta(name="description", content="The Magicshiter is an open source hardware gadget for lighting, gaming, and POV applications.")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href=static_folder + "css/main.css")

	body
		include header
		block content 
			div no content

		script(src=static_folder + "js/ga.js")