extends layout.jade

block content

	form(name="controls", action="")
		legend Create MagicShifter Font

		fieldset
			div.field
				label(for="fontWidth") Font Width: 
				input(type="text", id="fontWidth", value="10")

			div.field
				label(for="fontHeight") Font Height:
				input(type="text", id="fontHeight", value="16")

			div.field
				label(for="fontStartChar") Font Start Char: 
				input(type="text", id="fontStartChar", value="32")

			div.field
				label(for="fontEndChar") Font End Char:
				input(type="text", id="fontEndChar", value="127")

			div.field
				label(for="fontCSS") Enter Font CSS: 
				input(type="text", id="fontCSS", value="18px Courier")

			div.field
				input#createFont(type="button", value="create font from CSS", onclick="CreateFontFromCss();")

			div.field.header
				label OR select Bitmap for font: 
				
			div.field
				label(for="uploadFont") Choose Font File to upload:
				input#uploadFont(type="file", value="upload")

			div.field
				input#fontInvert(type="checkbox", value="invert")
				label(for="fontInvert") Invert the pixels of the font
				
			div.field
				label(for="fontBitPerPixel") Bit/Pixel: 
			
			div.field
				select#fontBitPerPixel
					option(value="24") 24
					option(value="8") 8
					option(value="1") 1

			div.field
				label(for="fontFileName") Font Filename: 
				input#fontFileName(type="text", value="")

			div.field
				input#saveAsFont(type="button", value="save as font", onclick="SaveFont();")
				
			div.field
				canvas#canvasActiveFont(width="100", height="100", style="background-color:#000; color:#fff;")
				canvas#canvasScaledFont(width="100", height="100", style="background-color:#000; color:#fff;")
				canvas#canvasImportFont(width="100", height="100", style="background-color:#000; color:#fff;")

			input(type="button", id="extractFont", value="extract font", onclick="CreateFont(function(canvas, startChar, endChar, fontWidth, fontHeight) {  ExtractPixelFont(document.getElementById('canvasBuffer'), canvas, startChar, endChar, fontWidth, fontHeight); }, FONT_START_CHAR, FONT_END_CHAR, FONT_CHAR_WIDTH, FONT_CHAR_HEIGHT);")

	script(src=static_dir + "js/magic.js")