section#description
  div.container
    h2 Description
    p.
      The MagicShifter 3000 is an open source hardware gadget for RGB lighting, gaming and POV (persistence of vision) applications. By combining its accelerometer with 16 bright RGB LEDs you can draw images “into the air”. It’s only 103x27x13mm so it fits in every pocket. The MagicShifter 3000 is the latest and most advanced addition to the  succesful MagicShifter series.
    p
      img.block(src='/img/description/wizard.jpg')

    p Draw stabilized images “into the air” by simply shaking the MagicShifter. With the accelerometer the MagicShifter automagically adjusts to your shaking speed. Upload new images or text via the simple web interface from your mobile device or any computer.
