section#program
  div.container
    h2 Reprogram the Source Code!

    p
      | The firmware and the web interface for the MagicShifter 3000 is still under development. Firmware V1.0 will be released in February 2016.

    p
      | It will be super easy to update the firmware from Linux, Mac and Windows via USB. For developers we will also release the source code (under the Affero GPL free software license) so you really own your device and can build your own IoT applications.

    p
      | The Affero GPL License basically says that anyone can use what we build for whichever purpose.
      | In exchange the license enforces that all the source code for all the
      | &nbsp;
      a(
        href='https://en.wikipedia.org/wiki/Internet_of_Things'
        title='Internet Of Things'
      ) IOT
      | &nbsp;
      | things based on our work are made public and licensed using a free software license.

    p.centered
      a(href='https://gnu.org/licenses/agpl.html' target='gnutopia')
        img(src='/img/program/agplv3.png' alt='Affero GPL')
