section#social
  div.container
    if socialAccounts
      ul
        for social in socialAccounts
          if social.visible === true
            li
              a(href=social.href target="utopia" title=social.title)
                img(src=social.src alt=social.alt height="30px" width="30px")
