section#timeline
  div.container
    h2 Timeline
    p
      a(href="./img/timeline/ms3000-timeline-lg.jpg" target="_blank")
        img(src="./img/timeline/ms3000-timeline-sm.jpg")
      span
        | Earlier MagicShifter prototypes.
        a(href="./img/timeline/ms3000-timeline-lg.jpg" target="_blank")
          | Click to see a high-resolution version.
