section#update
  div.container
    h2 HOWTO update the Firmware of your MagicShifter 3000
    p
      | We decided to host our dcumentation in our MS3000 repository wiki. 
      a(href='https://github.com/magicshifter/MS3000/wiki/FirmwareUpdate') Click here to go to the FirmwareUpdate wiki page