section#video
  div.container
    h2 The MagicShifter 3000 Video!

    div#player: iframe(src='https://www.youtube.com/embed/37QBSWLmHT8' frameborder='0' allowfullscreen='allowfullscreen')

    p Watch this video to see how easy it is to use the MagicShifter 3000 and it's WiFi interface.
